/* 기본 폼 스타일 */
article form {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

form h2 {
    color: #343a40;
    margin: 10px 0 20px;
    line-height: 1;
    font-weight: normal;
}

/* 공통 버튼 스타일 */
.btn {
    display: flex;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #2faaff;
    color: #fff;
}

.btn label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn input[type=button],
.btn input[type=submit] {
    flex: 1;
    color: inherit;
    border: none;
    outline: none;
    background-color: inherit;
    cursor: pointer;
    font-weight: bold;
}

/* QnA 게시판 상단 영역 */
.qna_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

/* 질문하기 버튼 */
.qna_top .btn {
    width : 120px;
    margin: 10px 0;
    background-color: #2faaff;
    cursor: pointer;
    box-sizing: border-box;
}

/* board */
.board {
    justify-content: center;
    align-items: center;
}

/* QnA List, QnA View의 Title */
.rowtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0054d1;
    color: #fff;
    border-radius: 5px 5px 0 0;
    font-size: 0.875rem;
}

.rowQ {
    border-bottom: 1px dotted #0054d1;
    display: flex;
    font-size: 0.875rem;
}

.rowQ:first-child {
    border-bottom: 2px solid #0054d1;
}

.rowQ:last-child {
    border-bottom: none;
}

.qboard-title {
    flex: 1;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.qboard-sub {
    flex: 4;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

.colline {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.875rem;
    padding: 10px 0;
    cursor: pointer;
}

/* qnaList 날짜 글자 크기 */
.colline:nth-child(4) {
    font-size: 0.75rem;
}


/* 입력 필드 */
.field {
    display: flex;
    flex-direction: row;
    margin: 10px;
    word-break: break-all;
    width: 100%;
}

/* 코드 블록 자동 개행 */
pre {
    overflow: auto;
    white-space: pre-wrap;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    article form {
        flex-direction: column;
        width: 85vw;
        min-width: 340px;
    }

    /* 공통 */
    .qna_top {
        flex-direction: row;
        height: 60px;
    }

    .board {
        flex-direction: row;
    }

    .rowQ {
        flex-direction: row;
        align-items: stretch;
    }

    .colline {
        flex: 1;
        display: flex;
        font-size: 0.875rem;
        padding: 10px 0;
        white-space: none;
        cursor: pointer;
    }

    .field .colline{
    }

    .rowQ .btn {
        border-radius: 5px;
        cursor: pointer;
        background-color: #0054d1;
        color: #fff;
        font-weight: bold;
        min-height: 40px;
    }

    .field {
        flex-direction: column;
    }
}
